img{border-width: 0px}
.main-recommend{ height: 440px; }
.main-recommend .picture-recommend{ float: left; width: 310px; height: 400px; }
.main-recommend .picture-recommend .large-img{ float: left; width: 230px; display: none; }
.main-recommend .picture-recommend .large-img img{ width: 230px; }
.main-recommend .picture-recommend .large-img h1{ margin-top: 3px; }
.main-recommend .picture-recommend .large-img p{ margin-top: 5px; font-size: 12px; color: #b3b3b3; line-height: 20px; }
.main-recommend .picture-recommend .small-img{ float: right; width: 72px; }
.main-recommend .picture-recommend .small-img .img{ width: 64px; border: solid 2px #fff; padding: 2px; margin-bottom: 5px; cursor: pointer; }
.main-recommend .picture-recommend .small-img .active{ border-color: #00a65a; }
.main-recommend .picture-recommend .small-img img{ width: 64px; }
.main-recommend .list-recommend{ float: left; width: 510px; height: 400px; margin-left: 20px; }
.main-recommend .list-recommend .list-item{ padding: 15px 0; border-bottom: solid 1px #e5e5e5; text-align: center; }
.main-recommend .list-recommend .list-item:first-child{ padding-top: 0; }
.main-recommend .list-recommend .list-item:last-child{ border-bottom: none; }
.main-recommend .list-recommend .list-item p{ margin-top: 10px; }
.main-recommend .week-recommend{ float: left; width: 220px; height: 400px; margin-left: 20px; } 
.chief-part{ height: 260px; }
.chief-part .img-box{ margin-top: 20px; }
.chief-part .img-box .img{ float: left; width: 130px; margin-right: 41.6px; }
.chief-part .img-box .img:last-child{ margin-right: 0; }
.chief-part .img-box .img a{ display: block; }
.chief-part .img-box .img p{ margin-top: 3px; text-align: center; }
.chief-part .img-box .img p span{ font-size: 12px; color: #b3b3b3; }
.chief-part .img-box .img img{ width: 130px; }
.boy-recommend{ margin-top: 20px; height: 440px; }
.boy-recommend .boy-selected{ float: left; width: 880px; height: 400px; }
.boy-recommend .boy-selected .img-box{ overflow: hidden; }
.boy-recommend .boy-selected .img-box .img{ float: left; width: 280px; margin-right: 20px; margin-top: 20px; }
.boy-recommend .boy-selected .img-box .img:nth-child(3n){ margin-right: 0; }
.boy-recommend .boy-selected .img-box .img img{ float: left; width: 80px; }
.boy-recommend .boy-selected .img-box .img .text{ float: left; width: 160px; margin-left: 10px; }
.boy-recommend .boy-selected .img-box .img .text p{ font-size: 12px; color: #b3b3b3; margin-top: 10px; }
.boy-recommend .boy-selected .img-box .img span{ float: right; margin-right: 0; margin-top: 20px; }
.boy-recommend .boy-selected .list-box{ margin-top: 10px; overflow: hidden; }
.boy-recommend .boy-selected .list-box p{ float: left; width: 290px; margin-right: 5px; margin-top: 15px; }
.boy-recommend .boy-selected .list-box p:nth-child(3n){ margin-right: 0; }
.boy-recommend .boy-selected .list-box p span{ color: #00a65a; }
.update-container{ margin-top: 20px; height: 450px; }
.update-container .new-update{ float: left; width: 880px; height: 410px; }
.update-container .new-update h1{ margin-bottom: 10px; }
.update-container .new-update .list-item{ height: 32px; line-height: 32px; }
.update-container .new-update .list-item p{ display: inline-block; width: 600px; color: #00a65a; }
.update-container .new-update .list-item p .new{ display: inline-block; margin-left: 10px; color: #b3b3b3; }
.update-container .new-update .list-item p .new:hover{ text-decoration: underline; }
.update-container .new-update .list-item span{ display: inline-block; width: 160px; }
.update-container .new-update .list-item i{ display: inline-block; width: 120px; color: #b3b3b3; }
.update-container .good-book{ height: 410px; }
.update-container .good-book ul li p a{ line-height: 32px; }
.banner_1{height: 150px;margin: 20px 0px 20px 0px}
.banner_1 ul{margin-left: 40px;margin-right: 40px}
.banner_1 li{float: left;}
.mr{margin-right: 87px}
.banner_2{height: 150px;margin: 20px 0px 20px 0px}
.b_left{float: left;}
.b_right{float: right;}
.banner_2 img{height: 150px;width:570px;}

