<div class="footer">
	<div class="footer-box">
		<div class="about-link">友情链接：<a href="">火星小说</a> <a href="">飞跃中文网</a> <a href="">创别书城</a> <a href="">360小说</a> <a href="">皓阅文学</a> <a href="">九库文学</a> <a href="">咪咕阅读</a> <a href="">甜阅读</a> <a href="">巨匠网</a> <a href="">汤圆创作</a> <a href="">珊瑚文学</a> <a href="">铁血阅读</a> <a href="">六座小说网</a></div>
		<div class="nav"><a href="">首页</a> | <a href="">公司简介</a> | <a href="">联系我们</a> | <a href="">加入我们</a></div>
		<p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定</p>
		<p>京ICP备13051241号-1 京公网安备110114001124号</p>
		<p>本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关</p>
		<p>Copyright © 2008-2015 Yueloo.com 版权所有  北京东信盈宝文化发展有限公司</p>
	</div>
</div>
