<div class="header">
	<div class="header-box">
		<div class="logo"><a href="/"><img src="/img/logo.png" alt="神阅读"></a></div>
		<div class="nav">
		    <a href="/">首页</a>
			<a href="/library">书库</a>
			<a href="/rank">排行榜</a>
			<a href="/userinfo">个人中心</a>
		</div>
		<div class="search"><input type="text" placeholder="请输入书名或作者名称"><span></span></div>
	</div>
	<div class="login">
		<div class="login-box">
			<div class="login-btn">
				<a href="/login">登录</a>
				<a class="wechat" href="<%=dataToRender.loginUri.login_wechat%>"></a>
				<a class="qq" href="<%=dataToRender.loginUri.login_qq%>"></a>
				<a class="weibo" href="<%=dataToRender.loginUri.login_sina%>"></a>
			</div>
		</div>
	</div>
</div>