<div class="container user-side">
    <div class="info">
        <div class="img"><img src="/img/noavatarl.jpg" alt=""></div>
        <p>我是女王大人</p>
        <p>当前余额：<span>6000</span>阅币</p>
    </div>
    <ul class="nav-first">
        <li><span class="ic1"></span><a href="/userinfo">用户资料</a></li>
        <li><span class="ic4"></span>我的书架
            <ul>
                <li><a href="/bookshelf">最近阅读</a></li>
                <li><a href="">我的收藏</a></li>
            </ul>
        </li>
        <li><span class="ic5"></span><a href="">我的消息</a></li>
        <li><span class="ic6"></span><a href="">我的书评</a></li>
    </ul>
</div>