<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/info.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<%- include('./partial/header') %>
	<div class="main">
		<div class="left-container">
			<div class="container info-box">
				<div class="base-info">
					<div class="img"><img src="img/62753l.jpg" alt="小谎言"></div>
					<div class="info">
						<h1>小谎言</h1>
						<div class="data-info">
							<dl><dt>作者：</dt><dd><span>莉安·莫利亚提</span></dd></dl>
							<dl><dt>字数：</dt><dd><span>532445</span>字</dd></dl>
							<dl><dt>类型：</dt><dd><span>言情小说</span></dd></dl>
							<dl><dt>状态：</dt><dd><span>连载中</span></dd></dl>
							<dl><dt>点击量：</dt><dd><span>168021</span>次</dd></dl>
							<dl><dt>收藏量：</dt><dd><span>82</span>次</dd></dl>
						</div>
						<div class="brief">
							简介：
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<div class="btn-box">
							<div class="btn"><a href="">投月票</a></div>
							<div class="btn"><a href="">目录</a></div>
							<div class="btn"><a href="">加入书架</a></div>
							<div class="btn"><a href="">自动订阅</a></div>
						</div>
						<a class="recommend">推荐</a>
						<a href="/reader" class="read-btn">立即阅读</a>
					</div>
				</div>
				<div class="new-chapter">
					<h1><span class="label red-bg">最新章节</span><a href="">第120章 校园益智问答夜活动三个月之前</a></h1>
					<p>刑侦警长阿德里安·昆兰：我们正在从各个角度考察所有可能的作案动机。 萨曼莎：所以说，我们可以将这个案子定义为……谋杀案了吗？“我想约瑞吉出来玩。”新年刚过的某个温暖的夏夜里，克洛伊突然提出了这样的一个要求。... <a href="">立即阅读>></a></p>
				</div>
			</div>
			<div class="fans-reward">
				<div class="btn">
					<span></span>
					10阅币
				</div>
				<div class="btn">
					<span></span>
					100阅币
				</div>
				<div class="btn">
					<span></span>
					666阅币
				</div>
				<div class="btn">
					<span></span>
					6666阅币
				</div>
				<div class="btn">
					<span></span>
					66666阅币
				</div>
				<div class="btn">
					<span></span>
					100000阅币
				</div>
				<div class="click-btn">
					<span>赏</span>
					<a>点击确认</a>
				</div>
			</div>
			<div class="container comment">
				<h1>评论专区<span class="right-word to-comment">我要评论</span></h1>
				<div class="comment-box">
					<div class="comment-input">
						<textarea rows="4" placeholder="说点儿什么吧......"></textarea>
					</div>
					<div class="comment-btn">
						<a>评论</a>
					</div>
				</div>
				<div class="comment-list">
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>我是女王大人<span class="icon zan"></span></h1>
							<div class="text"><a href="/commentinfo">书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！</a></div>
							<h2>2天前 · 10条回复<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
							<div class="reply">
								<p><span>心飞扬：</span>哈哈，同感！</p>
								<p><span>。。。：</span>呵呵呵！</p>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>我是女王大人<span class="icon zan"></span></h1>
							<div class="text"><a href="/commentinfo">书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！</a></div>
							<h2>2天前 · 10条回复<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
							<div class="reply">
								<p><span>心飞扬：</span>哈哈，同感！</p>
								<p><span>。。。：</span>写的些什么鬼！</p>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>我是女王大人<span class="icon zan"></span></h1>
							<div class="text"><a href="/commentinfo">书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！</a></div>
							<h2>2天前 · 10条回复<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
							<div class="reply">
								<p><span>心飞扬：</span>哈哈，同感！</p>
								<p><span>。。。：</span>写的些什么鬼！</p>
							</div>
						</div>
					</div>
					<div class="more"><a>共230条评论 查看更多评论>></a></div>
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="container sidebar fans-rank">
				<h1>粉丝榜<span class="right-word">659位粉丝</span></h1>
				<ul>
					<li><span class="top">1</span><p>我是女王大人我是女王大人</p><a>盟主</a><i>10000阅币</i></li>
					<li><span class="top">2</span><p>小星星</p><a>盟主</a><i>10000阅币</i></li>
					<li><span class="top">3</span><p>小月牙</p><a>舵主</a><i>9823阅币</i></li>
					<li><span>4</span><p>心飞扬</p><a>舵主</a><i>9000阅币</i></li>
					<li><span>5</span><p>小星星</p><a>长老</a><i>6666阅币</i></li>
					<li><span>6</span><p>小星星</p><a>长老</a><i>6666阅币</i></li>
					<li><span>7</span><p>小星星</p><a>长老</a><i>6666阅币</i></li>
					<li><span>8</span><p>小月牙</p><a>长老</a><i>6666阅币</i></li>
					<li><span>9</span><p>小月牙</p><a>长老</a><i>869阅币</i></li>
					<li><span>10</span><p>小月牙</p><a>小弟</a><i>666阅币</i></li>
					<div class="more"><a href="">查看更多>></a></div>
				</ul>
			</div>
			<div class="container sidebar week-recommend">
				<h1>本周强推</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
			<div class="container sidebar">
				<h1>优秀完本</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
		</div>
	</div>

	<!--footer-->
    <%- include('./partial/footer') %>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->
	<script>
		$(function(){
			$(".comment .right-word").click(function(){
				$(".comment-box").toggleClass("show-box");
			})
			$(".comment-info h2 span").click(function(){
				$(this).parent().next().toggleClass("show-box");
			})
		})
	</script>
</body>
</html>