<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/commentinfo.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
      <!-- 引用全局头部 -->
	<%- include('./partial/header') %>
	<div class="main">
		<div class="left-container">
			<div class="container comment">
				<div class="user-comment">
					<div class="user">
						<div class="user-head">
							<img src="/img/user.jpg">
						</div>
						<div class="user-name">
							<h1>我是女王大人</h1>
							<p>2017-02-21 17:51</p>
						</div>
					</div>
					<div class="text">
						书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！书写的太好啦，赶紧更新不啊，亲！等不及要看了，打赏100阅路币,哈哈哈！
					</div>
					<h2>共123条回复<span class="icon to-reply"></span></h2>
					<div class="comment-box">
						<div class="comment-input">
							<textarea rows="4" placeholder="说点儿什么吧......"></textarea>
						</div>
						<div class="comment-btn">
							<a>评论</a>
						</div>
					</div>
					<div class="zan"><span></span><p>已有122个人赞过</p></div>
				</div>
				<div class="comment-list">
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>我是女王大人</h1>
							<div class="text">他俩都是父神的儿子。//<span>@哈哈：</span>他们是两个不同的人啦！//<span>@一枝花：</span>难道不是吗？</div>
							<div class="reply">
								<h1>心飞扬：</h1>
								<p>还以为他俩是同一个人呢，任务太多了，都搞不明白。</p>
							</div>
							<h2>2小时前<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>东北一枝花</h1>
							<div class="text">好想知道结局，男女主有没有在一起啊~~~~</div>
							<h2>2小时前<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>我是女王大人</h1>
							<div class="text">他俩都是父神的儿子。//<span>@哈哈：</span>他们是两个不同的人啦！//<span>@一枝花：</span>难道不是吗？</div>
							<div class="reply">
								<h1>心飞扬：</h1>
								<p>还以为他俩是同一个人呢，任务太多了，都搞不明白。</p>
							</div>
							<h2>2小时前<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>东北一枝花</h1>
							<div class="text">好想知道结局，男女主有没有在一起啊~~~~</div>
							<h2>2小时前<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>我是女王大人</h1>
							<div class="text">他俩都是父神的儿子。//<span>@哈哈：</span>他们是两个不同的人啦！//<span>@一枝花：</span>难道不是吗？</div>
							<div class="reply">
								<h1>心飞扬：</h1>
								<p>还以为他俩是同一个人呢，任务太多了，都搞不明白。</p>
							</div>
							<h2>2小时前<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="user-head"><img src="/img/user.jpg"></div>
						<div class="comment-info">
							<h1>东北一枝花</h1>
							<div class="text">好想知道结局，男女主有没有在一起啊~~~~</div>
							<h2>2小时前<span class="icon to-reply"></span></h2>
							<div class="reply-box">
								<div class="reply-input">
									<textarea rows="4" placeholder="回复他......"></textarea>
								</div>
								<div class="reply-btn">
									<a>回复</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="container book-info">
				<div class="book-cover"><a href=""><img src="/img/62565l.jpg"></a></div>
				<h1><a href="">水浒之特种兵王</a></h1>
				<h2>妖惑天下</h2>
				<p>特种兵王陈枭穿越到了水浒世界，利用现代知识忽悠梁山好汉，拐骗水泊英雄，打造出一支属于他的精锐水浒军！他说，既然老天不长眼，那就让水浒军替天行道吧！</p>
				<div class="info">58条回复  121个赞</div>
			</div>
		</div>
	</div>

	<!--footer-->
    <%- include('./partial/footer') %>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->
	<script>
		$(function(){
			$(".to-reply").click(function(){
				$(this).parent().next().toggleClass("show-box");
			});
			$(".zan span").click(function(){
				$(this).toggleClass("click");
			})
		})
	</script>
</body>
</html>