<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/index.css">
</head>
<body>
	<%- include('./partial/header') %>
	<div class="main">
		<div class="main-recommend">
			<div class="container picture-recommend">
				<div class="img-show"></div>
				<div class="small-img"></div>
			</div>
			<div class="container list-recommend">
				<div class="list-item">
					<h1><a href="/bookinfo">小谎言</a></h1>
					<p><span class="label red-bg">火爆</span><a href="/bookinfo">未来简史</a> | <a href="">悲歌</a> | <a href="/bookinfo">还没长大就老了</a> | <a href="/bookinfo">忽而半夏</a></p>
					<p><span class="label orange-bg">经典</span><a href="/bookinfo">三国演义</a> | <a href="/bookinfo">红楼梦</a> | <a href="/bookinfo">西游记</a> | <a href="/bookinfo">南京大屠杀</a></p>
				</div>
				<div class="list-item">
					<h1><a href="/bookinfo">精品图书</a></h1>
					<p><span class="label red-bg">火爆</span><a href="/bookinfo">黑天鹅</a> | <a href="/bookinfo">饥饿的女儿</a> | <a href="/bookinfo">你只是看起来很努力</a> | <a href="">背叛之星</a></p>
					<p><span class="label orange-bg">经典</span><a href="/bookinfo">西风多少狠吹不散眉弯</a></p>
				</div>
				<div class="list-item">
					<h1><a href="/bookinfo">新书上架</a></h1>
					<p><span class="label orange-bg">经典</span><a href="/bookinfo">当你的才华还撑不起你的梦想时</a> | <a href="/bookinfo">微反应：小动作背后影藏什么</a></p>
					<p><span class="label green-bg">免费</span><a href="/bookinfo">永远不要找别人要安全感</a> | <a href="/bookinfo">浪的恩赐</a> | <a href="/bookinfo">你的团队需要什么样的人</a></p>
				</div>
				<div class="list-item">
					<h1>最新公告</h1>
					<p><a href="/bookinfo">又有新书推荐啦！！！</a></p>
				</div>
			</div>
			<div class="container sidebar">
				<h1>本周强推</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="/bookinfo">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">腾讯传</a></p></li>
					<li><span class="top">3</span><p><a href="">三生三世十里桃花</a></p></li>
					<li><span>4</span><p><a href="/bookinfo">浪的恩赐</a></p></li>
					<li><span>5</span><p><a href="/bookinfo">你只是看起来很努力</a></p></li>
					<li><span>6</span><p><a href="/bookinfo">领导力21法则</a></p></li>
					<li><span>7</span><p><a href="/bookinfo">神秘岛</a></p></li>
					<li><span>8</span><p><a href="/bookinfo">活着</a></p></li>
					<li><span>9</span><p><a href="/bookinfo">骆驼祥子</a></p></li>
					<li><span>10</span><p><a href="/bookinfo">一本书读懂创投税</a></p></li>
				</ul>
			</div>
		</div>
		<div class="banner_1">
		<ul>
			<li class="mr"><img src="img/douban.jpg" alt=""></li>
			<li class="mr"><img src="img/duke.jpg" alt=""></li>
			<li><img src="img/huazhang.jpg" alt=""></li>
		</ul>
		</div>
		<div class="container chief-part">
			<h1>大神专区</h1>
			<div class="img-box">
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>小谎言<br><span>作者 小谎言</span></p></a></div>
			</div>
		</div>
		<div class="boy-recommend">
			<div class="container boy-selected">
				<h1>男频精选</h1>
				<div class="img-box">
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">小谎言</a></h1>
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">小谎言</a></h1>
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">小谎言</a></h1>
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">小谎言</a></h1>
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">小谎言</a></h1>
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">小谎言</a></h1>
							<p>我不会加入学校里的任何派系。”初来乍到，珍知道，作为单亲妈妈，你的疏离就是礼貌。</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
				</div>
				<div class="list-box">
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
				</div>
			</div>
			<div class="container sidebar click-rank">
				<h1>点击榜</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>7</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>8</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>9</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>10</span><p><a href="">你只是看起来很努力</a></p></li>
				</ul>
			</div>
		</div>
		<div class="banner_2">
		<ul>
		    <li class="b_left"><img src="img/bagong.jpg" alt=""></li>
			<li class="b_right"><img src="img/tiaozhan.jpg" alt=""></li>
			
		</ul>
		</div>
		<div class="update-container">
			<div class="container new-update">
				<h1>最新更新</h1>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">混沌乾坤诀</a><a href="" class="new">第三百六十一章 天火出现</a></p><span>作者 · 未来在何方</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【都市小说】<a href="">巅峰特工</a><a href="" class="new">第七百三十九章 忘</a></p><span>作者 · 活的简单点</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-02-27 12:13</i>
				</div>
			</div>
			<div class="container sidebar good-book">
				<h1>优秀完本</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>7</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>8</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>9</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span>10</span><p><a href="">你只是看起来很努力</a></p></li>
				</ul>
			</div>
		</div>
	</div>

	<!--footer-->
	<%- include('./partial/footer') %>

	<!--common script-->
	<%- include('./partial/common_script') %>

	<!--else script-->
	<script src="/js/ImgLoop.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>