<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/index.css">
</head>
<body>
	<%- include('./partial/header') %>
	<div class="main">
		<div class="main-recommend">
			<div class="container picture-recommend">
				<div class="img-show"></div>
				<div class="small-img"></div>
			</div>
			<div class="container list-recommend">
				<div class="list-item">
					<h1><a href="/book">水浒之特种兵王</a></h1>
					<p><span class="label red-bg">火爆</span><a href="">英雄联盟</a> | <a href="">尸衣</a> | <a href="">天才犯罪</a> | <a href="">我是特种兵</a></p>
					<p><span class="label orange-bg">经典</span><a href="">功夫神医在都市</a> | <a href="">与鬼同眠</a> | <a href="">摸骨神医</a> | <a href="">亲爱的，我们离婚吧</a></p>
				</div>
				<div class="list-item">
					<h1><a href="">有一个有趣的女朋友是种怎样的体验</a></h1>
					<p><span class="label red-bg">火爆</span><a href="">英雄联盟</a> | <a href="">尸衣</a> | <a href="">天才犯罪</a> | <a href="">我是特种兵</a></p>
					<p><span class="label orange-bg">经典</span><a href="">功夫神医在都市</a> | <a href="">与鬼同眠</a> | <a href="">摸骨神医</a> | <a href="">亲爱的，我们离婚吧</a></p>
				</div>
				<div class="list-item">
					<h1><a href="">有一个有趣的女朋友是种怎样的体验</a></h1>
					<p><span class="label orange-bg">经典</span><a href="">功夫神医在都市</a> | <a href="">与鬼同眠</a> | <a href="">摸骨神医</a> | <a href="">亲爱的，我们离婚吧</a></p>
					<p><span class="label green-bg">免费</span><a href="">功夫神医在都市</a> | <a href="">与鬼同眠</a> | <a href="">摸骨神医</a> | <a href="">亲爱的，我们离婚吧</a></p>
				</div>
				<div class="list-item">
					<h1>最新公告</h1>
					<p><a href="">关于部分用户违法盗版本站作品处罚的通告</a></p>
				</div>
			</div>
			<div class="container sidebar">
				<h1>本周强推</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">水浒之特种兵王</a><br><i>作者：妖惑天下</i></p></li>
					<li><span class="top">2</span><p><a href="">亲爱的，我们离婚吧</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
		</div>
		<div class="banner"><img src="img/banner1.jpg" alt=""></div>
		<div class="container chief-part">
			<h1>大神专区</h1>
			<div class="img-box">
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
				<div class="img"><a href=""><img src="img/62753l.jpg" alt=""><p>亲爱的，我们离婚吧<br><span>作者 · 玉面小七</span></p></a></div>
			</div>
		</div>
		<div class="boy-recommend">
			<div class="container boy-selected">
				<h1>男频精选</h1>
				<div class="img-box">
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">亲爱的，我们离婚吧</a></h1>
							<p>这里是编辑推荐语小姑子一通电话，把我喊到某现场。在那里，我看到我的</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">亲爱的，我们离婚吧</a></h1>
							<p>这里是编辑推荐语小姑子一通电话，把我喊到某现场。在那里，我看到我的</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">亲爱的，我们离婚吧</a></h1>
							<p>这里是编辑推荐语小姑子一通电话，把我喊到某现场。在那里，我看到我的我喊到某现场。在那里，我看到我的</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">亲爱的，我们离婚吧</a></h1>
							<p>这里是编辑推荐语小姑子一通电话，把我喊到某现场。在那里，我看到我的我喊到某现场。在那里，我看到我的</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">亲爱的，我们离婚吧</a></h1>
							<p>这里是编辑推荐语小姑子一通电话，把我喊到某现场。在那里，我看到我的我喊到某现场。在那里，我看到我的</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
					<div class="img">
						<a href=""><img src="img/62753l.jpg" alt=""></a>
						<div class="text">
							<h1><a href="">亲爱的，我们离婚吧</a></h1>
							<p>这里是编辑推荐语小姑子一通电话，把我喊到某现场。在那里，我看到我的我喊到某现场。在那里，我看到我的</p>
						</div>
						<span class="label green-bg">新</span>
					</div>
				</div>
				<div class="list-box">
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
					<p><span>【都市言情】</span><a href=""> 我的三国有点猛</a></p>
				</div>
			</div>
			<div class="container sidebar click-rank">
				<h1>点击榜</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">水浒之特种兵王</a><br><i>作者：妖惑天下</i></p></li>
					<li><span class="top">2</span><p><a href="">亲爱的，我们离婚吧</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
		</div>
		<div class="banner"><img src="img/banner1.jpg" alt=""></div>
		<div class="update-container">
			<div class="container new-update">
				<h1>最新更新</h1>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">混沌乾坤诀</a><a href="" class="new">第三百六十一章 天火出现</a></p><span>作者 · 未来在何方</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【都市小说】<a href="">巅峰特工</a><a href="" class="new">第七百三十九章 忘</a></p><span>作者 · 活的简单点</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
				<div class="list-item">
					<p>【奇幻玄幻】<a href="">剑神龙逍遥</a><a href="" class="new">后记</a></p><span>作者 · 燃灯</span><i>2017-01-15 12:13</i>
				</div>
			</div>
			<div class="container sidebar good-book">
				<h1>优秀完本</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">水浒之特种兵王</a><br><i>作者：妖惑天下</i></p></li>
					<li><span class="top">2</span><p><a href="">亲爱的，我们离婚吧</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
		</div>
	</div>

	<!--footer-->
	<%- include('./partial/footer') %>

	<!--common script-->
	<%- include('./partial/common_script') %>

	<!--else script-->
	<script src="/js/ImgLoop.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>