<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/library.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<%- include('./partial/header') %>
	<div class="main">
		<div class="left-container">
			<div class="container condition-select">
				<h1>筛选条件</h1>
				<ul class="condition-box">
					<li><span>频道：</span><a class="active">不限</a><a>男频</a><a>女频</a></li>
					<li><span>类别：</span><a class="active">不限</a><a>都市言情</a><a>玄幻仙侠</a><a>青春校园</a><a>古代武侠</a><a>悬疑灵异</a><a>军事历史</a></li>
					<li><span>状态：</span><a class="active">不限</a><a>连载中</a><a>已完结</a></li>
					<li><span>排序：</span><a class="active">不限</a><a>更新时间</a><a>字数</a><a>点击量</a><a>收藏量</a></li>
				</ul>
			</div>
			<div class="container book-list">
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62753l.jpg" alt="亲爱的，我们离婚吧"></a></div>
					<div class="info">
						<h1><a href="">亲爱的，我们离婚吧</a></h1>
						<h2>玉面小七 | 都市言情 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62565l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">英雄联盟之特种兵王</a></h1>
						<h2>妖惑天下 | 历史军事 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62753l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">亲爱的，我们离婚吧</a></h1>
						<h2>玉面小七 | 都市言情 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62565l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">英雄联盟之特种兵王</a></h1>
						<h2>妖惑天下 | 历史军事 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62753l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">亲爱的，我们离婚吧</a></h1>
						<h2>玉面小七 | 都市言情 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62565l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">英雄联盟之特种兵王</a></h1>
						<h2>妖惑天下 | 历史军事 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62753l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">亲爱的，我们离婚吧</a></h1>
						<h2>玉面小七 | 都市言情 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62565l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">英雄联盟之特种兵王</a></h1>
						<h2>妖惑天下 | 历史军事 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="book-item">
					<div class="img"><a href=""><img src="img/62753l.jpg" alt="水浒之特种兵王"></a></div>
					<div class="info">
						<h1><a href="">亲爱的，我们离婚吧</a></h1>
						<h2>玉面小七 | 都市言情 | 526425字 | 连载中</h2>
						<p><span class="label red-bg">最新</span><a href="">第123章 要不要装个失忆呢</a><i>2017-01-16 12:31</i></p>
					</div>
					<div class="btns">
						<a href="">立即阅读</a>
						<span>加入书架</span>
					</div>
				</div>
				<div class="more"><a>查看更多>></a></div>
			</div>
		</div>
		<div class="right-container">
			<div class="container sidebar click-rank">
				<h1>点击榜</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">水浒之特种兵王</a><br><i>作者：妖惑天下</i></p></li>
					<li><span class="top">2</span><p><a href="">亲爱的，我们离婚吧</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
			<div class="container sidebar week-recommend">
				<h1>本周强推</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">水浒之特种兵王</a><br><i>作者：妖惑天下</i></p></li>
					<li><span class="top">2</span><p><a href="">亲爱的，我们离婚吧</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
			<div class="container sidebar">
				<h1>优秀完本</h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">水浒之特种兵王</a><br><i>作者：妖惑天下</i></p></li>
					<li><span class="top">2</span><p><a href="">亲爱的，我们离婚吧</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
			</div>
		</div>
	</div>

	<!--footer-->
    <%- include('./partial/footer') %>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->
</body>
</html>