<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/rank.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
        <!-- 引用全局头部 -->
	<%- include('./partial/header') %>
	<div class="main">
		<div class="container rank-side">
			<h1>神阅读排行榜</h1>
			<ul>
				<li><a href="">点击榜</a></li>
				<li><a href="">推荐榜</a></li>
				<li><a href="">字数榜</a></li>
				<li><a href="">收藏榜</a></li>
				<li><a href="">打赏榜</a></li>
				<li><a href="">签约新书榜</a></li>
			<!-- 	<li><a href="">潜力新书榜</a></li> -->
			</ul>
		</div>
		<div class="rank-container">
			<div class="container sidebar rank-box">
				<h1>点击榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="/ranklist">查看更多>></a></div>
			</div>
			<div class="container sidebar rank-box">
				<h1>推荐榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="/ranklist">查看更多>></a></div>
			</div>
			<div class="container sidebar rank-box">
				<h1>字数榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="/ranklist">查看更多>></a></div>
			</div>
			<div class="container sidebar rank-box">
				<h1>收藏榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="/ranklist">查看更多>></a></div>
			</div>
			<div class="container sidebar rank-box">
				<h1>打赏榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="/ranklist">查看更多>></a></div>
			</div>
			<div class="container sidebar rank-box">
				<h1>签约新书榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="/ranklist">查看更多>></a></div>
			</div>
		<!-- 	<div class="container sidebar rank-box">
				<h1>潜力新书榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<ul>
					<li><span class="top">1</span><a href=""><img src="img/62753l.jpg"></a><p><a href="">小谎言</a><br><i>作者：莉安·莫利亚提</i></p></li>
					<li><span class="top">2</span><p><a href="">你只是看起来很努力</a></p></li>
					<li><span class="top">3</span><p><a href="">英雄联盟之最强弃少</a></p></li>
					<li><span>4</span><p><a href="">阴人笔记</a></p></li>
					<li><span>5</span><p><a href="">斗鱼最强主播</a></p></li>
					<li><span>6</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>7</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>8</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>9</span><p><a href="">功夫神医在都市</a></p></li>
					<li><span>10</span><p><a href="">功夫神医在都市</a></p></li>
				</ul>
				<div class="more"><a href="">查看更多>></a></div>
			</div> -->
		</div>
	</div>

	<!--footer-->
    <%- include('./partial/footer') %>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->%>
</body>
</html>