<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/rank.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<%- include('./partial/header') %>
	<div class="main">
		<div class="container rank-side">
			<h1>神阅读排行榜</h1>
			<ul>
				<li><a href="">点击榜</a></li>
				<li><a href="">推荐榜</a></li>
				<li><a href="">字数榜</a></li>
				<li><a href="">收藏榜</a></li>
				<li><a href="">打赏榜</a></li>
				<li><a href="">签约新书榜</a></li>
				<li><a href="">潜力新书榜</a></li>
			</ul>
		</div>
		<div class="rank-container">
			<div class="container rank-list">
				<h1>点击榜<div class="btns"><a class="active">周</a><a>月</a><a>总</a></div></h1>
				<table cellspacing="0" cellpadding="0">
					<tr>
						<th>排名</th><th>分类</th><th>书名/最新章节</th><th>作者</th><th>字数(字)</th><th>点击量(次)</th><th>状态</th><th>更新时间</th>
					</tr>
					<tr>
						<td><span class="label red-bg">1</span></td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td><span class="label red-bg">3</span></td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td><span class="label red-bg">3</span></td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td>4</td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td>5</td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td>6</td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td>7</td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
					<tr>
						<td>8</td><td>都市小说</td><td><a href="">不可一世的青春</a> <a href="">第216章：病情</a></td><td>小哥哥</td><td>453264</td><td>2149</td><td>连载中</td><td>2017-01-08 12:31</td>
					</tr>
				</table>
				<div class="more"><a href="">查看更多>></a></div>
			</div>
		</div>
	</div>

	<!--footer-->
    <%- include('./partial/footer') %>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->
</body>
</html>