<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/reader.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body class="default">
	<%- include('./partial/header1') %>
	<div class="content-box">
		<h1>第一章 英雄救美</h1>
		<h2>妖惑天下 | 2036字 2015-12-07 16:02发布</h2>
		<div class="content">
			<p>新疆裕民县以西，与哈萨克斯坦交界处是一片人迹罕至环境险恶的崇山峻岭，其中隐藏着一座峡谷。原本应该荒无人烟的峡谷里不知从何什么时候开始修建了许多简易的木屋高塔建筑，许多人在峡谷中活动。这里是某恐怖组织在中国境内的主要营区。</p>
			<p>突然，天空中传来直升机螺旋桨的轰鸣声。峡谷中的许多恐怖分子和境外雇佣军都驻足朝谷口方向张望，脸上流露出诧异之色。突然，六架武直10武装直升机从谷口的密林之间猛钻出来，恐怖分子和雇佣军都流露出惊骇之色，有雇佣军士兵扯着嗓子大叫起来，一些恐怖分子和雇佣军士兵已经开火了，无数火线贴着直升机飞过。</p>
			<p>直升机机翼下的火箭弹巢喷吐出火焰，火箭弹雨点一般落入营地中，火球升腾而起，爆炸声响成一片，许多恐怖分子被爆炸的冲击波掀上了天；与此同时，机腹下的航炮暴雨般扫荡营地，恐怖分子和雇佣军就好像狂风暴雨中的枯枝败叶一般纷纷被打落在地。营地里乱成了一锅粥，躲的躲，跑的跑，少数勇悍的则端着机关枪吼叫着对空射击，不过很快就被航炮打成了塞子死于非命。</p>
			<p>就在武装直升机扫荡营地的同时，谷口的地面上出现了无数身着黑色战斗服的特种部队身影，他们手持自动步枪一边射击一边前进，与天空中的武装直升机相互配合迅速朝纵深挺进。雇佣军和恐怖分子一个个被射倒，特种部队势如破竹，很快就突入到核心区域了。</p>
			<p>陈枭领着尖刀小队一路攻击前进，来到营地正中间那座最大的建筑之前。所有突击队员做好了突击准备，随着陈枭一声令下，数名突击队员向建筑物里扔进了闪光弹，建筑物里传来惨叫声，与此同时，陈枭等二十几个突击队员从大门和窗户一拥而入，对着几十个暂时失去视觉的恐怖分子和雇佣军疯狂扫射，弹雨在建筑物中乱飞，血水飞扬，恐怖分子和雇佣军纷纷被射倒在地。</p>
			<p>几秒钟后一切安静了下来。</p>
			<p>陈枭命令一组队员警戒，命令另一组队员检查尸体搜寻现场，他则领着剩下的一组队员奔上了建筑物正中间的那座高台，发现了一个边长超过两米的物体，外面罩着一块黑色的帆布。</p>
			<p>一个队员道：“这上面的文字是俄罗斯文。”</p>
			<p>陈枭问道：“你认得吗？”那个队员摇了摇头，笑道：“它认得我，我不认得它！”</p>
			<p>躺在装置旁边身受重伤的一个头目模样的恐怖分子，口喷着鲜血歇斯底里地笑道：“你们都要死！你们都得死！我，已经，把它启动了！……”。陈枭拔出手枪对着他的脑门就是一枪，啪，血水冒出，那个头目脑袋向后一甩躺在了地上，嗝屁了！</p>
			<p>陈枭把手枪放回枪套，下令道：“打开。”</p>
			<p>两个队员立刻掀开了帆布，一个巨大的装置呈现在众人的面前。陈枭观察了一下，脸色大变，“这是，这是前苏联的核弹头！”话音刚落，一名队员突然叫道：“头儿，你看着！”陈枭立刻来到那个队员身旁，朝他手指的方向看去，赫然看见核弹头上内嵌的小小显示屏幕上一个数字正在跳动着：8,7……</p>
			<p>陈枭大惊，急声冲所有人叫道：“快撤退！……”说着便领着队员们朝建筑物外狂奔。与此同时，那数字继续跳动着：6,5,4,3,2,1。轰……炽烈的白光迅速吞没了整个山谷，一团蘑菇云升腾而起。</p>
			<p>陈枭在被可怕的冲击波卷了进去，以为必死无疑了。在那时，他在想：早知道今天就要死了，昨天晚上就应该把李茹萍给叉叉圈圈了，可惜了！可惜了！如果上天再给我一次机会的话，我一定不会放过那个机会！</p>
			<p>陈枭发现自己并没有被冲击波撕成碎片，而是被一个黑色的漩涡吸了进去。</p>
			<p>接着，白光一闪，核爆的可怕景象立刻消失不见了，湛蓝的天空出现在眼前。陈枭还没反应过来，就扑通一声跌入了荷花池中。</p>
			<p>陈枭呛了一大口水，赶紧钻出水面。抹掉脸上的水渍，四下张望，看见了精致美丽的中国传统庭院景观，就是古代大户人家居住的那种有山有水有树有石的跟公园似的宅院。</p>
			<p>陈枭从水塘中爬了上来，看着眼前的景致不禁泛起了嘀咕：这什么地方啊？刚才我不是在山谷中遭遇了核爆吗？这里是地狱？陈枭的心中不禁升起些古怪的感觉，觉得如果这么优美的环境如果是地狱的话，那大家早该抹脖子了！</p>
			<p>“老爷，不要……”一个女子的惊呼声突然从面前的那幢两层的精致木楼上传来。陈枭眉头一皱，立刻奔上了二楼，来到那间唯一的房间外。这时，女人的惊呼声再一次传来。陈枭想都没想，一脚就踹开了房门，正好看见一个肥硕丑陋的中年男子正搂着一个年轻美丽的女子，意图不轨，女子脸上充满了惊恐的神情。</p>
			<p>陈枭大怒，冲了进去，左手抓起那胖子的后颈猛地一拽把他拽了起来。胖子扭过头来，显得不知所措的模样。陈枭照着他肥硕的面庞狠狠地来了一拳，噗的一声大响。胖子的脸上登时像开了染缸似的，惨叫一声，向后跌翻在地。</p>
		</div>
	</div>
	<div class="control-top-btn">
		<div class="control-float">
			<div class="top-left-btn">
				<a data-toggle="modal" data-target="#catalogBtn"><i></i>目录</a>
				<a><i></i>加入书架</a>
				<a data-toggle="modal" data-target="#settingBtn"><i></i>设置</a>
				<a data-toggle="modal" data-target="#rewardBtn"><i></i>打赏</a>
				<a data-toggle="modal" data-target="#commentBtn"><i></i>评论</a>
			</div>
		</div>
	</div>
	<div class="control-bottom-btn">
		<div class="control-float">
			<div class="bottom-right-btn">
				<a><i></i>上一章</a>
				<a><i></i>下一章</a>
			</div>
		</div>
	</div>
	<div class="mask"></div>
	<div class="modal" id="catalogBtn">
		<div class="modal-head">
			目录
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="catalog">
				<ul>
					<li>第一卷
						<ul>
							<li><a href="">第一章 迷糊穿越</a></li>
							<li><a href="">第二章 迷糊穿越</a></li>
							<li><a href="">第三章 迷糊穿越</a></li>
							<li><a href="">第四章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
					<li>第二卷
						<ul>
							<li><a href="">第六章 迷糊穿越</a></li>
							<li><a href="">第七章 迷糊穿越</a></li>
							<li><a href="">第八章 迷糊穿越</a></li>
							<li><a href="">第九章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
					<li>第二卷
						<ul>
							<li><a href="">第六章 迷糊穿越</a></li>
							<li><a href="">第七章 迷糊穿越</a></li>
							<li><a href="">第八章 迷糊穿越</a></li>
							<li><a href="">第九章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
					<li>第二卷
						<ul>
							<li><a href="">第六章 迷糊穿越</a></li>
							<li><a href="">第七章 迷糊穿越</a></li>
							<li><a href="">第八章 迷糊穿越</a></li>
							<li><a href="">第九章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="modal" id="settingBtn">
		<div class="modal-head">
			设置
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="setting">
				<div class="set-bg">
					<span>背景颜色：</span><a class="selected" data-color="default"></a><a data-color="greenBg"></a><a data-color="pinkBg"></a><a data-color="darkBg"></a>
				</div>
				<div class="set-font">
					<span>字体大小：</span><a class="large-font">+</a><span class="font-size"></span><a class="small-font">-</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="rewardBtn">
		<div class="modal-head">
			打赏
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="reward">
				<div class="reward-box">
					<div class="selected"><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
				</div>
				<div class="reward-btn">
					赏
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="commentBtn">
		<div class="modal-head">
			评论
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="comment">
				<div class="comment-box">
					<textarea rows="8" placeholder="说点儿什么吧......"></textarea>
				</div>
				<div class="comment-btn">
					评论
				</div>
			</div>
		</div>
	</div>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->
	<script>
		$(function(){
			var content=$(".content"),
				buttons=$("[data-color]"),
				fontSize=sessionStorage.getItem("fontSize"),
				bgColor=sessionStorage.getItem("bgColor");
			fontSize=fontSize||16;
			bgColor=bgColor||"default";
			for(var i=0;i<buttons.length;i++){
				var btn=buttons.eq(i);
				btn.removeClass("selected");
				if(btn.attr("data-color")==bgColor){
					btn.addClass("selected");
				}
			}
			content.css({"font-size":fontSize+"px"});
			$("body").attr("class",bgColor);
			$(".font-size").html(fontSize+"px");
			$(".large-font").click(function(){
				if(!(fontSize++>=25)){
					sessionStorage.setItem("fontSize",fontSize);
					content.css({"font-size":fontSize+"px"});
					$(".font-size").html(fontSize+"px");
				}
			});
			$(".small-font").click(function(){
				if(!(fontSize--<=14)){
					sessionStorage.setItem("fontSize",fontSize);
					content.css({"font-size":fontSize+"px"});
					$(".font-size").html(fontSize+"px");
				}
			});
			buttons.on("click",function(){
				bgColor=$(this).attr("data-color");
				sessionStorage.setItem("bgColor",bgColor);
				buttons.removeClass("selected");
				$(this).addClass("selected");
				$("body").attr("class",bgColor);
			});
			$(".reward-box div").click(function(){
				$(".reward-box div").removeClass("selected");
				$(this).addClass("selected");
			});
			$("[data-toggle='modal']").on("click",function(){
				var target=$(this).attr("data-target");
				$(".mask").fadeIn();
				$(target).fadeIn();
			})
			$("[data-dismiss='modal']").on("click",function(){
				$(".mask").fadeOut();
				$(".modal").fadeOut();
			})
		})
	</script>
</body>
</html>