<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/style/common.css">
	<link rel="stylesheet" type="text/css" href="/style/reader.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body class="default">
	<%- include('./partial/header') %>
	<div class="content-box">
		<h1>第一章 校园益智问答夜活动当晚</h1>
		<h2>莉安·莫利亚提 | 2036字 2017-3-06 17:02发布</h2>
		<div class="content">
			<p>好戏即将上演，而天空中密布的乌云进一步加强了戏剧的效果。</p>
			<p>“这可不像是‘校园益智问答夜’该有的声音。”帕蒂·庞德太太对玛丽·安托瓦内特 (这是她给自家猫咪起的名字——编者注)说，“听上去简直就是一场暴动。”</p>
			<p>对于庞德太太的这番评论，这只猫并没有做出任何的反应，它继续窝在沙发上打着瞌睡，似乎觉得“校园益智问答夜”的活动本身根本算不上是什么惊天动地的大事。</p>
			<p>“不感兴趣？啊,让他们去吃蛋糕吧[注释]！你是不是这么想的？他们的确都是些‘蛋糕狂人’，对不对？我的天哪，想想那一排排的蛋糕展示柜吧。不过，我倒是不相信那些妈妈会真的张开小嘴吃上一小块，因为她们看上去都是那么健美苗条，是不是？就像你一样。”</p>
			<p>这句恭维的话让玛丽·安托瓦内特不禁“冷笑”了一下。那句“让他们去吃蛋糕吧”的传言早就是老掉牙的事情了，而且它最近还从庞德太太的一个外孙那里听说，这句话的原文其实应该是“让他们去吃奶油面包卷吧”。</p>
			<p>庞德太太拿起电视遥控器，调小了《与星共舞》节目的音量。早些时候，她之所以将音量调大完全是因为外面下起了瓢泼大雨。不过，雨势现在已经渐渐地弱了下来。</p>
			<p>她的耳边传来了一群人扯着嗓门大呼小叫的声音。那愤怒的叫喊声似乎穿透了夜晚宁静而又冰冷的空气。在庞德太太听来，这些噪音格外刺耳，仿佛其中包裹着的每一丝怒火都是冲着她来的。毕竟庞德太太是由一位脾气暴躁的妈妈抚养长大的。</p>
			<p>庞德太太拿起电视遥控器，调小了《与星共舞》节目的音量。早些时候，她之所以将音量调大完全是因为外面下起了瓢泼大雨。不过，雨势现在已经渐渐地弱了下来。</p>
			<p>她的耳边传来了一群人扯着嗓门大呼小叫的声音。那愤怒的叫喊声似乎穿透了夜晚宁静而又冰冷的空气。在庞德太太听来，这些噪音格外刺耳，仿佛其中包裹着的每一丝怒火都是冲着她来的。毕竟庞德太太是由一位脾气暴躁的妈妈抚养长大的。</p>
			<p>她的耳边传来了一群人扯着嗓门大呼小叫的声音。那愤怒的叫喊声似乎穿透了夜晚宁静而又冰冷的空气。在庞德太太听来，这些噪音格外刺耳，仿佛其中包裹着的每一丝怒火都是冲着她来的。毕竟庞德太太是由一位脾气暴躁的妈妈抚养长大的。</p>
		</div>
	</div>
	<div class="control-top-btn">
		<div class="control-float">
			<div class="top-left-btn">
				<a data-toggle="modal" data-target="#catalogBtn"><i></i>目录</a>
				<a><i></i>加入书架</a>
				<a data-toggle="modal" data-target="#settingBtn"><i></i>设置</a>
				<a data-toggle="modal" data-target="#rewardBtn"><i></i>打赏</a>
				<a data-toggle="modal" data-target="#commentBtn"><i></i>评论</a>
			</div>
		</div>
	</div>
	<div class="control-bottom-btn">
		<div class="control-float">
			<div class="bottom-right-btn">
				<a><i></i>上一章</a>
				<a><i></i>下一章</a>
			</div>
		</div>
	</div>
	<div class="mask"></div>
	<div class="modal" id="catalogBtn">
		<div class="modal-head">
			目录
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="catalog">
				<ul>
					<li>第一卷
						<ul>
							<li><a href="">第一章 迷糊穿越</a></li>
							<li><a href="">第二章 迷糊穿越</a></li>
							<li><a href="">第三章 迷糊穿越</a></li>
							<li><a href="">第四章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
					<li>第二卷
						<ul>
							<li><a href="">第六章 迷糊穿越</a></li>
							<li><a href="">第七章 迷糊穿越</a></li>
							<li><a href="">第八章 迷糊穿越</a></li>
							<li><a href="">第九章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
					<li>第二卷
						<ul>
							<li><a href="">第六章 迷糊穿越</a></li>
							<li><a href="">第七章 迷糊穿越</a></li>
							<li><a href="">第八章 迷糊穿越</a></li>
							<li><a href="">第九章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
					<li>第二卷
						<ul>
							<li><a href="">第六章 迷糊穿越</a></li>
							<li><a href="">第七章 迷糊穿越</a></li>
							<li><a href="">第八章 迷糊穿越</a></li>
							<li><a href="">第九章 迷糊穿越</a></li>
							<li><a href="">第五章 迷糊穿越</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="modal" id="settingBtn">
		<div class="modal-head">
			设置
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="setting">
				<div class="set-bg">
					<span>背景颜色：</span><a class="selected" data-color="default"></a><a data-color="greenBg"></a><a data-color="pinkBg"></a><a data-color="darkBg"></a>
				</div>
				<div class="set-font">
					<span>字体大小：</span><a class="large-font">+</a><span class="font-size"></span><a class="small-font">-</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="rewardBtn">
		<div class="modal-head">
			打赏
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="reward">
				<div class="reward-box">
					<div class="selected"><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
					<div><span></span>100阅币</div>
				</div>
				<div class="reward-btn">
					赏
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="commentBtn">
		<div class="modal-head">
			评论
			<a data-dismiss="modal">&times;</a>
		</div>
		<div class="modal-body">
			<div class="comment">
				<div class="comment-box">
					<textarea rows="8" placeholder="说点儿什么吧......"></textarea>
				</div>
				<div class="comment-btn">
					评论
				</div>
			</div>
		</div>
	</div>

	<!--common script-->
    <%- include('./partial/common_script') %>

	<!--else script-->
	<script>
		$(function(){
			var content=$(".content"),
				buttons=$("[data-color]"),
				fontSize=sessionStorage.getItem("fontSize"),
				bgColor=sessionStorage.getItem("bgColor");
			fontSize=fontSize||16;
			bgColor=bgColor||"default";
			for(var i=0;i<buttons.length;i++){
				var btn=buttons.eq(i);
				btn.removeClass("selected");
				if(btn.attr("data-color")==bgColor){
					btn.addClass("selected");
				}
			}
			content.css({"font-size":fontSize+"px"});
			$("body").attr("class",bgColor);
			$(".font-size").html(fontSize+"px");
			$(".large-font").click(function(){
				if(!(fontSize++>=25)){
					sessionStorage.setItem("fontSize",fontSize);
					content.css({"font-size":fontSize+"px"});
					$(".font-size").html(fontSize+"px");
				}
			});
			$(".small-font").click(function(){
				if(!(fontSize--<=14)){
					sessionStorage.setItem("fontSize",fontSize);
					content.css({"font-size":fontSize+"px"});
					$(".font-size").html(fontSize+"px");
				}
			});
			buttons.on("click",function(){
				bgColor=$(this).attr("data-color");
				sessionStorage.setItem("bgColor",bgColor);
				buttons.removeClass("selected");
				$(this).addClass("selected");
				$("body").attr("class",bgColor);
			});
			$(".reward-box div").click(function(){
				$(".reward-box div").removeClass("selected");
				$(this).addClass("selected");
			});
			$("[data-toggle='modal']").on("click",function(){
				var target=$(this).attr("data-target");
				$(".mask").fadeIn();
				$(target).fadeIn();
			})
			$("[data-dismiss='modal']").on("click",function(){
				$(".mask").fadeOut();
				$(".modal").fadeOut();
			})
		})
	</script>
</body>
</html>